* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html{
  font-size: 10px; /* so i can use rems and know how large 1 rem is*/
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
body .header{
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin: 2.5vw;
  height: 50vh;
  background-color: rgba(168, 226, 255);
}
.header > h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
}
.header > .navigation > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80vw;
  padding: 0;
  margin: 2.5vh auto;
}
.header > .navigation > ul > li {
  font-size: 2rem;
  background-color: azure;
  border-radius: 6px;
  border: 3px solid darkgray;
  padding: 0.5vw;
}
.header > .navigation > ul > li > a{
  color: rgba(0, 0, 0)
}
.header > .navigation > ul > li > a:link, .header > .navigation > ul > li > a:visited{
  text-decoration: none;
}
body .main-content {
  width: 95vw;
  margin: 2.5vw;
  z-index: 2;
  padding: 5vh 10vw;
  position: relative;
}

body .main-content:not(.about-me) {
  margin-bottom: 0;
  padding-bottom: 0;
}
.main-content > .summary-container > p {
  font-size: 16px;
  padding: 5vh;
}
.main-content > .featured-project {
  padding: 5vh;
}
.main-content > .featured-project > h2 {
  font-size: 24px;
}
.main-content > .featured-project > .description {
  font-size: 16px;
  margin-bottom: 5vh;
}
.main-content > .featured-project > .what-i-learned {
  padding: 5vh 0;
}
.main-content > .featured-project > .what-i-learned > h2 {
  padding-bottom: 3vh;
  font-size: 24px;
}
.main-content > .featured-project > .what-i-learned > p {
  font-size: 16px;
}
.main-content > #projects{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title{
  text-align: center;
  font-size: 4rem;
  margin: 1rem .2rem 2.5rem;
}
.img-container {
  text-align: center;
}
.img-container > img {
  width: 20vw;
  margin: 4vh;
}
.about-me-text {
  font-size: 16px;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  margin: 3rem;
  padding: 3rem;
}
.card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}
.card > img {
  max-width: 30rem;
}
.card p {
  font-size: 1.5rem;
}
.card > a:link, .card > a:visited, .card > a {
  text-decoration: none;
  color: #000000;
}
.footer {
  padding: 2vw;
  display: relative;
}
.footer > .footer-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  background-color: rgb(168, 226, 255);
}

.footer > .footer-links > * {
  margin: 1vw;
}
.social-media-links {
  position: absolute;
  top: 0;
  right: 0;
}
.social-media-links > a {
}
.social-media-links > a > img {
  height: 40px;
}
.footer > .footer-links > li > a {
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}
